.custom1,
body {
	color: rgba(36, 46, 49, 0.65);
	font-family: 'poppins', arial, serif;
	font-size: 14px;
}

.custom10 {
	color: #3089A6;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin: 0 0 15px 0;
	text-decoration: none;
	text-transform: uppercase;
}

.custom101 {
	background-attachment: scroll;
	background-image: url('../templates/1/border.jpg');
	filter: hue-rotate(183deg) brightness(1.04);
	background-position: center bottom 29px;
	background-repeat: no-repeat;
	background-size: auto;
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	margin: 0 0 0 0;
	padding: 0 0 30px 0;
	text-decoration: none;
}

.custom105 {
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 100%;
	margin: 0 0 20px 0;
	text-align: center;
}

.custom106 {
	color: rgba(255, 255, 255, 0.6);
	font-family: 'poppins', arial, serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}

.custom107 {
	background-attachment: scroll;
	background-image: url('%5bdefault%5d.html');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto;
	min-height: auto;
	padding: 1.538rem 0 0 0;
	text-align: center;
}

.custom10.custom11 {
	color: #999;
	opacity: 1;
	font-size: 33px;
	font-style: normal;
	font-weight: 700;
	margin: 30px 0 0 0;
}

.custom12 {
	background-color: transparent;
	border-style: none;
	padding: 1.538rem 0 0 0;
}

.custom13 {
	width: auto;
}

.custom14,
#site-container-7 .menu-container .level1 li a {
	background-attachment: scroll;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto;
	border-color: transparent;
	border-style: solid;
	border-width: 0 0 3px 0;
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 20px 0 20px;
	padding: 10px 0 10px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color, border-color;
	-moz-transition-property: color, border-color;
	-o-transition-property: color, border-color;
	transition-property: color, border-color;
}

.custom14:hover,
.custom14:focus,
.link-styles:hover .custom14,
#site-container-7 .menu-container .level1 li a:hover,
#site-container-7 .menu-container .level1 li a:focus,
#site-container-7 .menu-container .level1 li a.active {
	border-color: #3089A6;
	color: rgba(255, 255, 255, 0.5);
}

.custom15 {
	background-color: #3089A6;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 14px 0 14px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: background-color, color;
	-moz-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	transition-property: background-color, color;
}

.custom15:hover,
.custom15:focus,
.link-styles:hover .custom15 {
	background-color: #2A7991;
	color: #ffffff;
}

.custom16 {
	margin: 0 0 0 auto;
	width: auto;
}

.custom17 {
	background-attachment: scroll;
	/* background-image: url('../templates/1/border.jpg'); */
	/* filter: hue-rotate(180deg) brightness(1.1); */
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: auto;
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.35em;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.custom18 {
	color: rgba(255, 255, 255, 0.9);
	font-family: 'poppins', arial, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75em;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.custom19,
.form-input .FormSubmitButton {
	background-attachment: scroll;
	background-color: #3089A6;
	background-image: url('../templates/1/right-chevron.svg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	border-color: #3089A6;
	border-radius: 1000px 1000px 1000px 1000px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 16px 27px 16px 25px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

.custom19:hover,
.custom19:focus,
.link-styles:hover .custom19,
.form-input .FormSubmitButton:hover,
.form-input .FormSubmitButton:focus,
.form-input .FormSubmitButton.active {
	background-color: #2A7991;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #2A7991;
	color: #ffffff;
}

.custom2,
p,
.Container .Textarea {
	line-height: 1.7em;
}

.custom19.custom20 {
	border-radius: 0;
	padding: 12px 20px;
	background-color: transparent;
	width: 170px;
	background-image: none;
	border-: 1px solid white;
	color: #ffffff;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

.custom19.custom20:hover {
	background-image: none !important;

}

.custom19.custom20:hover,
.custom19.custom20:focus,
.link-styles:hover .custom19.custom20 {
	background-color: #3089A6;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #3089A6;
	color: #ffffff;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

.custom21 {
	margin: 0 auto 0 0;
	width: auto;
}

.custom22,
#site-container-7 .menu-container .level1 .level2 .level3 li a,
#site-container-7 .menu-container .level1 .level2 li a {
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: url('../templates/1/menu-level2-arrow.svg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #324045;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0px;
	margin: 0 0 0 0;
	padding: 20px 24px 20px 24px;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

.custom22:hover,
.custom22:focus,
.link-styles:hover .custom22,
#site-container-7 .menu-container .level1 .level2 .level3 li a:hover,
#site-container-7 .menu-container .level1 .level2 .level3 li a:focus,
#site-container-7 .menu-container .level1 .level2 .level3 li a.active,
#site-container-7 .menu-container .level1 .level2 li a:hover,
#site-container-7 .menu-container .level1 .level2 li a:focus,
#site-container-7 .menu-container .level1 .level2 li a.active {
	background-color: #242e31;
	background-image: url('../templates/1/menu-level2-arrow-hover.svg');
	border-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

.custom29 {
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0 0 0 0;
	border-style: solid;
	border-width: 0 0 1px 0;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	padding: 2.307rem 1.538rem 2.307rem 1.538rem;
	text-align: center;
	text-decoration: none;
	z-index: 100;
}

.custom3,
h1 {
	background-attachment: scroll;
	background-image: url('%5bdefault%5d.html');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: auto;
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0 0 2.4608rem 0;
	text-decoration: none;
}

.custom30 {
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
	margin: -70px 0 4.614rem 0;
}

.custom31 {
	background-attachment: scroll;
	background-image: url('../templates/1/check-1.png');
	filter: hue-rotate(180deg) brightness(1.0);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto;
	color: #324045;
	font-family: 'poppins', arial, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0 0 15px 0;
	padding: 30px 0 0 0;
	text-align: center;
	text-decoration: none;
}

.custom29.custom32 {
	border-radius: 0 0 0 0;
}

.custom29.custom33 {
	border-radius: 0 0 0 0;
	border-width: 0 0 0 0;
}

.custom34 {
	margin: 0 0 0 0;
	width: auto;
}

.custom35 {
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.3em;
	text-decoration: none;
}

.custom36 {
	color: rgba(255, 255, 255, 0.5);
	font-family: 'poppins', arial, serif;
	font-style: normal;
	text-decoration: none;
}

.custom37 {
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4em;
	margin: 0 0 25px 0;
	text-decoration: none;
}

.custom38 {
	background-attachment: scroll;
	background-image: url('../templates/1/footer-arrow.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-style: normal;
	font-weight: 400;
	opacity: 0.5;
	padding: 0 0 0 18px;
	text-decoration: none;
	transform: translate(0x, 0px);
	;
	-webkit-transition: all 100ms linear 0s;
	-moz-transition: all 100ms linear 0s;
	-o-transition: all 100ms linear 0s;
	transition: all 100ms linear 0s;
	-webkit-transition-property: color, opacity, transform;
	-moz-transition-property: color, opacity, transform;
	-o-transition-property: color, opacity, transform;
	transition-property: color, opacity, transform;
}

.custom38:hover,
.custom38:focus,
.link-styles:hover .custom38 {
	color: #ffffff;
	opacity: 1;
	transform: translate(8px, 0px);
	;
}

.custom4,
h2 {
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4em;
	margin: 0 0 20px 0;
	text-decoration: none;
}

.custom40 {
	width: 185px;
}

.custom41 {
	width: 120px;
}

.custom36.custom42 {
	color: rgba(255, 255, 255, 0.25);
	font-size: 14px;
}

.custom45 {
	background-attachment: scroll;
	background-image: url('../templates/1/facebook-logo.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	transform: scale(1, 1);
	-webkit-transition: all 75ms linear 0s;
	-moz-transition: all 75ms linear 0s;
	-o-transition: all 75ms linear 0s;
	transition: all 75ms linear 0s;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
}

.custom45:hover,
.custom45:focus,
.link-styles:hover .custom45 {
	transform: scale(1.1, 1.1);
}

.custom45.custom46 {
	background-image: url('../templates/1/instagram.svg');
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
}

.custom47 {
	width: auto;
}

.custom49 {
	background-attachment: scroll;
	background-image: url('../templates/1/border.jpg');
	filter: hue-rotate(180deg) brightness(1.1);

	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: auto;
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	text-align: left;
	text-decoration: none;
}

.custom5,
h3 {
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4em;
	margin: 0 0 12px 0;
	text-decoration: none;
}

.custom50 {
	background-attachment: scroll;
	background-color: #ffffff;
	/* background-image: url('../templates/1/content-bg.jpg'); */
	background-image: url('../Images/client3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
	margin: 0 0 0 0;
}

.custom50.custom51 {
	background-image: url('%5bdefault%5d.html');
	margin: 170px 0 0 0;
}

.custom6,
h4 {
	line-height: 1.3em;
	margin: 0 0 3px 0;
}

.custom67 {
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: url('../templates/1/content-bg.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 0 0 0;
}

.lethelp {
	background-color: #f5f5f5;
}

.card {
	position: relative;
	overflow: hidden;
}

.card img {
	width: 100%;
	height: auto;
}

.card-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	/* Black background with opacity */
	color: #ffffff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transition: 0.5s ease;
	opacity: 1;
	text-align: center;
}

.card:hover .card-overlay {
	background: rgba(8, 39, 216, 0.5);
	/* Black background with opacity */
}

.banner {
	position: relative;
	height: 400px;
	background-image: url('../Images/banner1.jpg');
	background-size: cover;
	background-attachment: scroll;
	/* Initially allow the background to scroll */
	background-size: 100% 100%;
	/* Adjust based on your needs */
	background-repeat: no-repeat;
	width: 100%;
	background-attachment: fixed;
}

.banner-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #032a64be;
	/* Black background with opacity */
	color: #ffffff;
	width: 100%;
	height: 100%;
	align-items: center;
	padding: 20px;
	transition: 0.5s ease;
	opacity: 1;
	text-align: center;

}

.custom67.custom68 {
	background-image: url('%5bdefault%5d.html');
	margin: 170px 0 0 0;
}

.custom75 {
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	text-decoration: none;
}

.custom49.custom78 {
	background-position: center bottom;
	color: #ffffff;
	margin: 0 auto 25px auto;
}

.custom82 {
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3em;
	margin: 0 0 15px 0;
	text-align: center;
	text-decoration: none;
}

.custom83 {
	background-attachment: scroll;
	background-image: url('../templates/1/testimonial-stars.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.custom84 {
	font-size: 14px;
}

.custom85,
.navigation-menu-box {
	background-color: #ffffff;
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25);
	color: #162024;
	font-family: 'poppins', arial, serif;
	font-size: 0;
	font-style: normal;
	font-weight: 700;
	padding: 20px 0 20px 0;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.custom85:hover,
.custom85:focus,
.link-styles:hover .custom85,
.navigation-menu-box:hover,
.navigation-menu-box:focus,
.navigation-menu-box.active {
	color: #3089A6;
}

.custom86,
.navigation-menu-container .level1 li a,
.navigation-menu-container .level1 .level2 li a,
.navigation-menu-container .level1 .level2 .level3 li a {
	background-color: #162024;
	border-color: rgba(255, 255, 255, 0.1);
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	margin: 0 0 0 0;
	padding: 20px 25px 20px 25px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: background-color, color;
	-moz-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	transition-property: background-color, color;
}

.custom86:hover,
.custom86:focus,
.link-styles:hover .custom86,
.navigation-menu-container .level1 li a:hover,
.navigation-menu-container .level1 li a:focus,
.navigation-menu-container .level1 li a.active,
.navigation-menu-container .level1 .level2 li a:hover,
.navigation-menu-container .level1 .level2 li a:focus,
.navigation-menu-container .level1 .level2 li a.active,
.navigation-menu-container .level1 .level2 .level3 li a:hover,
.navigation-menu-container .level1 .level2 .level3 li a:focus,
.navigation-menu-container .level1 .level2 .level3 li a.active {
	background-color: #162024;
	color: #3089A6;
}

.custom86.custom87,
.navigation-menu-container .level1 .level2 li a,
.navigation-menu-container .level1 .level2 .level3 li a {
	border-style: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	font-weight: 400;
	padding: 15px 25px 15px 25px;
	text-transform: none;
	-webkit-transition-property: background-color, color;
	-moz-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	transition-property: background-color, color;
}

.custom86.custom87:hover,
.custom86.custom87:focus,
.link-styles:hover .custom86.custom87,
.navigation-menu-container .level1 .level2 li a:hover,
.navigation-menu-container .level1 .level2 li a:focus,
.navigation-menu-container .level1 .level2 li a.active,
.navigation-menu-container .level1 .level2 .level3 li a:hover,
.navigation-menu-container .level1 .level2 .level3 li a:focus,
.navigation-menu-container .level1 .level2 .level3 li a.active {
	color: #ffffff;
	-webkit-transition-property: background-color, color;
	-moz-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	transition-property: background-color, color;
}

.custom88 {
	color: #ffffff;
	font-family: 'poppins', arial, serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 20px 0;
	text-align: center;
	text-decoration: none;
}

.custom89 {
	background-attachment: scroll;
	background-image: url('../templates/1/cta-arrow.svg');
	filter: hue-rotate(180deg) brightness(1.1);

	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	color: #ab8d69;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	margin: 0 auto 0 auto;
	padding: 0 10px 0 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	width: 86px;
}

.custom89:hover,
.custom89:focus,
.link-styles:hover .custom89 {
	color: #796247;
}

.custom90 {
	background-color: #0d1316;
	border-color: rgba(255, 255, 255, 0.15);
	color: rgba(255, 255, 255, 0.5);
	font-family: 'poppins', arial, serif;
	font-style: normal;
	font-weight: 400;
	padding: 4.614rem 12% 4.614rem 12%;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.custom90:hover,
.custom90:focus,
.link-styles:hover .custom90 {
	color: rgba(255, 255, 255, 0.5);
}

.custom90.custom91 {
	background-color: #162024;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.custom90.custom92 {
	background-color: #1f2d32;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.custom94 {
	background-attachment: scroll;
	background-image: url('../templates/1/check-1.png');
	filter: hue-rotate(183deg) brightness(1.04);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto;
	font-size: 14px;
	padding: 0 0 0 32px;
}

.custom98 {
	border-color: rgba(43, 43, 43, 0.1);
	border-style: solid;
	border-width: 1px 0 0 0;
	padding: 2.307rem 0 0 0;
}

.custom99 {
	font-size: 14px;
}

a.custom104 {
	background-color: #ffffff;
	border-radius: 0.769rem 0.769rem 0.769rem 0.769rem;
	box-shadow: 0 3px 30px 0 #0e3d1d;
	color: #2c3942;
	font-family: 'roboto', arial, serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	padding: 20px 30px 20px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	transition-property: color, background-color;
}

a.custom104:hover,
.custom104:focus,
.link-styles:hover a.custom104 {
	background-color: #f6f6f8;
	color: #2c3942;
}

a.custom39 {
	color: rgba(255, 255, 255, 0.6);
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

a.custom39:hover,
.custom39:focus,
.link-styles:hover a.custom39 {
	color: #ffffff;
}

a.custom39.custom43 {
	color: #ffffff;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

a.custom39.custom43:hover,
.custom39.custom43:focus,
.link-styles:hover a.custom39.custom43 {
	color: #3089A6;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

a.custom48 {
	background-attachment: scroll;
	background-color: transparent;
	/* background-image: url('../templates/1/footer-arrow.svg'); */
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	border-color: rgba(89, 143, 194, 0.25);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
	background-color: #3089A6;
	color: white;
	font-family: 'poppins', arial, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	background-color: #3089A6;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #3089A6;
	color: #ffffff;
	padding: 16px 38px 16px 25px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

a.custom48:hover,
.custom48:focus,
.link-styles:hover a.custom48 {
	background-color: #3089A6;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #3089A6;
	color: #ffffff;
}

a.custom48.custom62 {
	background-color: #3089A6;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #3089A6;
	color: #ffffff;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

a.custom48.custom62:hover,
.custom48.custom62:focus,
.link-styles:hover a.custom48.custom62 {
	background-color: #2A7991;
	background-image: url('../templates/1/right-chevron.svg');
	border-color: #2A7991;
	color: #ffffff;
	-webkit-transition-property: color, background-color, border-color, background-image;
	-moz-transition-property: color, background-color, border-color, background-image;
	-o-transition-property: color, background-color, border-color, background-image;
	transition-property: color, background-color, border-color, background-image;
}

a.custom7,
a {
	color: #3089A6;
	text-decoration: none;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

a.custom7:hover,
.custom7:focus,
.link-styles:hover a.custom7,
a:hover,
.link-styles:hover a {
	color: #2A7991;
}

html,
.DefaultBody {
	font-size: 14px;
}

.custom45.custom46 {
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
}

.custom90.custom91 {
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.custom90.custom92 {
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

@media only screen and (max-width: 509px) {
	
	.custom17{
		font-size: 25px;
		margin-bottom: 0px;
	}

	#body .con-44,
	#body .con-32 {
		padding: 10px 20px;
	}
	#body #site-container-21{
		height: 650px;
	}
}

@media only screen and (max-width: 959px) {
	#body #site-container-21{
		height: 630px;
	}
	.custom50.custom51 {
		margin: 100% 0 0 0 !important;
	}
	.w-75{
		width: 100% !important;
	}

	.custom50{
		background-position: center top !important;
    background-size: 149% !important;
	}

	.custom67.custom68 {
		margin: 64% 0 0 0 !important;


	}
}

@media only screen and (min-width: 768px) {
	
	.custom1,
	body {
		font-size: 15px;
	}

	.custom101 {
		font-size: 33px;
	}

	.custom105 {
		font-size: 35px;
		margin: 0 0 30px 0;
	}

	.custom107 {
		background-image: url('../templates/1/iphone-x.png');
		min-height: 550px !important;
		padding: 3.845rem 0 0 0;
		background-size: 626px;
		background-position: center top -45px;
	}

	.custom12 {
		padding: 0.769rem 0.769rem 0 0.769rem;
	}

	.custom13 {
		width: 175px;
	}

	.custom14,
	#site-container-7 .menu-container .level1 li a {
		letter-spacing: 1px;
		margin: 0 13px 0 13px;
		padding: 10px 0 10px 0;
	}

	.custom16 {
		margin: 0 0 0 auto;
		width: 165px;
	}

	.custom17 {
		/* font-size: 33px; */
		width: 100%;
	}

	.custom18 {
		font-size: 16px;
		width: 100%;
	}

	.custom21 {
		margin: 0 auto 0 0;
		width: 470px;
	}

	.custom29 {
		border-radius: 0 0 0 0;
		font-size: 14px;
		padding: 3.076rem 3.076rem 3.076rem 3.076rem;
		text-align: left;
	}

	.custom3,
	h1 {
		font-size: 30px;
	}

	.custom30 {
		margin: -102px 0 6.152rem 0;
	}

	.custom31 {
		background-position: left center;
		font-size: 18px;
		padding: 0 0 0 30px;
		text-align: left;
	}

	.custom29.custom32 {
		border-radius: 0 0 0 0;
	}

	.custom29.custom33 {
		border-radius: 0 0 0 0;
		border-width: 0 0 0 0;
	}

	.custom34 {
		margin: 0 0 0 0;
		width: 275px;
	}

	.custom35 {
		font-size: 20px;
	}

	.custom4,
	h2 {
		font-size: 20px;
	}

	.custom47 {
		width: auto;
	}

	.custom49 {
		font-size: 30px;
	}

	.custom50 {
		background-position: center top;
		background-size: contain;
		margin: 0 0 0 0;
	}

	.custom50.custom51 {
		margin: 300px 0 0 0;
	}

	.custom67 {
		background-position: center top;
		background-size: contain;
		margin: 0 0 0 0;
	}

	.custom67.custom68 {
		margin: 300px 0 0 0;
	}

	.custom75 {
		font-size: 16px;
	}

	.custom82 {
		font-size: 30px;
		text-align: center;
	}

	.custom88 {
		font-size: 24px;
	}

	.custom90 {
		padding: 6.152rem 8% 6.152rem 8%;
	}

	.custom98 {
		border-width: 1px 0 0 0;
		padding: 3.076rem 0 0 0;
	}

	html,
	.DefaultBody {
		font-size: 15px;
	}
}

@media only screen and (min-width: 960px) {

	.custom1,
	body {
		font-size: 16px;
	}

	.custom101 {
		font-size: 44px;
	}

	.custom105 {
		font-size: 45px;
	}

	.custom107 {
		min-height: 550px;
		padding: 4.614rem 0 0 0;
	}

	.custom12 {
		padding: 1.538rem 1.538rem 0 1.538rem;
	}

	.custom13 {
		width: 175px;
	}

	.custom14,
	#site-container-7 .menu-container .level1 li a {
		letter-spacing: 1px;
		margin: 0 20px 0 20px;
		padding: 10px 0 10px 0;
	}

	.custom16 {
		margin: 0 0 0 auto;
	}

	.custom17 {
		font-size: 44px;
		width: 800px;
	}

	.custom18 {
		font-size: 18px;
		width: 825px;
	}

	.custom21 {
		margin: 0 auto 0 0;
	}

	.custom29 {
		border-radius: 0 0 0 0;
		border-width: 0 1px 0 0;
		padding: 3.076rem 3.076rem 3.076rem 3.076rem;
	}

	.custom3,
	h1 {
		font-size: 34px;
	}

	.custom30 {
		margin: -102px 0 7.69rem 0;
	}

	.custom29.custom33 {
		border-radius: 0 0 0 0;
		border-width: 0 0 0 0;
	}

	.custom34 {
		margin: 0 0 0 auto;
	}

	.custom47 {
		width: 475px;
	}

	.custom49 {
		font-size: 34px;
	}

	.custom50 {
		background-position: center center;
		background-size: cover;
		margin: 0 50% 0 0;
	}

	.custom50.custom51 {
		margin: 0 -100% 0 100%;
	}

	.custom67 {
		background-position: center center;
		background-size: cover;
		margin: 0 0 0 50%;
	}

	.custom67.custom68 {
		margin: 0 100% 0 -100%;
	}

	.custom75 {
		font-size: 18px;
		width: 850px;
	}

	.custom49.custom78 {
		width: 575px;
	}

	.custom82 {
		font-size: 28px;
		text-align: left;
	}

	.custom88 {
		font-size: 26px;
	}

	.custom90 {
		padding: 10.766rem 12% 10.766rem 12%;
	}

	.custom98 {
		border-width: 0 0 0 1px;
		padding: 0 0 0 2.307rem;
	}

	html,
	.DefaultBody {
		font-size: 16px;
	}
}

.flexbox-grid li .gallery-image a {
	height: 140px;
}

.form-header {
	font-size: 16px;
	margin: 0 0 15px 0;
	width: auto;
}

.form-input .form-input-field {
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #2b373b;
	font-family: 'poppins', arial, serif;
	font-size: 16px;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	width: 288px;
}

.form-input .form-input-field input::-moz-placeholder {
	color: #2b373b;
}

.form-input .form-input-field input::-webkit-input-placeholder {
	color: #2b373b;
}

.form-input .form-input-field input:-moz-placeholder {
	color: #2b373b;
}

.form-input .form-input-field input:-ms-input-placeholder {
	color: #2b373b;
}

.form-input .form-input-field::-moz-placeholder {
	color: #2b373b;
}

.form-input .form-input-field::-webkit-input-placeholder {
	color: #2b373b;
}

.form-input .form-input-field:-moz-placeholder {
	color: #2b373b;
}

.form-input .form-input-field:-ms-input-placeholder {
	color: #2b373b;
}

.form-input .form-input-upload {
	background-color: #c5c5c5;
	border-color: #a5a5a5;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	color: #414141;
	margin: 0 0 10px 0;
	width: auto;
}

.form-input .FormSubmitButton {
	margin: 10px 0 0 0;
	padding: 16px 37px 16px 25px;
	width: auto;
}

.form-paragraph {
	margin: 0 0 15px 0;
}

.form-star {
	color: #a5a5a5;
}

.form-text {
	color: #5b5b5b;
	font-size: 13px;
	padding: 5px 15px 5px 0;
	width: 100px;
}

.gallery-header {
	background-color: #e1e1e1;
	color: #414141;
	font-size: 19.994rem;
	margin: 0 0 1.538rem 0;
	padding: 10px 15px 10px 15px;
}

.gallery-image {
	margin: 0.4rem;
}

.gallery-image.regular {
	height: 190px;
	width: 290px;
}

.gallery-image-product {
	margin: 0 0 1.538rem 0;
}

.gallery-wrapper ul {
	margin-bottom: -0.769rem;
	margin-top: -0.769rem;
}

.g-recaptcha {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.navigation-container {
	background-color: #162024;
	width: 260px;
}

.navigation-menu-container .level1 .level2 .level3 .level4 li a {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
}

.navigation-menu-group {
	background-color: #162024;
}

.search-result {
	margin: 1.538rem 0 0 0;
}

.search-results-breadcrumbs {
	font-size: 12px;
	margin: 0.4614rem 0 0.4614rem 0;
}

.search-results-breadcrumbs span {
	font-weight: bold;
}

.search-results-link-title {
	font-size: 16px;
	font-weight: bold;
}

.thumb-title {
	font-size: 19.994rem;
	margin: 0 5px 0 5px;
}

table.input-list td {
	padding: 4px 0 0 10px;
}

#body .con-31 {
	background-color: #ffffff;
	height: auto;
	margin: 0 auto 0 auto;
	min-height: 100%;
	padding: 0 0 0 0;
}

#body .con-32 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 1px;
	position: relative;
}

#body .con-33 {
	min-height: 20px;
}

#body .con-34 {
	margin-bottom: 4.614rem;
	margin-top: 2.307rem;
	min-height: 20px;
}

#body .con-35 {
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-36 {
	text-align: center;
}

#site-container-7 .menu-container .level1 .level2 .level3 .level4 li a {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
}

#site-container-7 .menu-container .level2 li.last a.level2 {
	border-width: 0 0 0 0;
}

#site-container-7 .menu-container .level3 li.last a.level3 {
	border-width: 0 0 0 0;
}

#body .con-40 {
	margin-bottom: 4.614rem;
	margin-top: 4.614rem;
	min-height: 20px;
}

#body .con-41 {
	margin-bottom: 0.769rem;
	min-height: 20px;
}

#body .con-42 {
	clear: both;
	height: auto;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-43 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 20px;
	position: relative;
}

#body .con-44 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 5px;
	position: relative;
}

#site-container-21::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #05347b80;
	/* Change the color and opacity as needed */
	pointer-events: none;
	/* Ensure the overlay doesn't interfere with other elements */
	transition: opacity 1s ease-in-out;
}

#body .con-45 {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center top -30px;
	transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
	--image-opacity: 1;
	opacity: var(--image-opacity);
	background-attachment: scroll;
	/* background-image: url('../templates/1/header-shadow.png'); */
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 20px;
}

#body .con-46 {
	background-color: transparent;
	min-height: 20px;
}

#body .con-47 {
	clear: both;
	height: auto;
	margin: 0.1538rem 0 0 0;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
	width: 15px;
}

#body .con-48 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 0;
	position: relative;
}

#body .con-49 {
	clear: both;
	height: auto;
	min-height: 60px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-50 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 45px;
	position: relative;
}

#body .con-51 {
	background-color: #ffffff;
	min-height: 20px;
}

#body .con-52 {
	margin-bottom: 2.307rem;
	margin-top: 2.307rem;
	min-height: 20px;
	opacity: 0.3;
}

#body .con-53 {
	margin-bottom: 1.538rem;
	min-height: 20px;
}

#body .con-54 {
	margin-top: 1.0766rem;
	min-height: 20px;
}

#body .con-55 {
	clear: both;
	height: auto;
	margin: 0 0 20px 0;
	min-height: 20px;
	position: relative;
}

#body .con-56 {
	clear: both;
	height: auto;
	min-height: 10px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-57 {
	border-color: rgba(255, 255, 255, 0.1);
	border-style: solid;
	border-width: 1px 0 0 0;
	margin-top: 3.076rem;
	min-height: 20px;
}

#body .con-58 {
	margin-bottom: 3.076rem;
	min-height: 20px;
}

#body .con-59 {
	margin-bottom: 15px;
	min-height: 20px;
}

#body .con-60 {
	clear: both;
	height: auto;
	min-height: 100px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-61 {
	margin-bottom: 2.307rem;
}

#site-container-254 .credits {
	text-align: right;
}

#site-container-254 .credits a {
	color: rgba(255, 255, 255, 0.25);
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#site-container-254 .credits a:hover {
	color: #ffffff;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#body .con-65 {
	margin-bottom: 0.769rem;
	margin-top: 3.076rem;
	min-height: 20px;
}

#body .con-66 {
	clear: both;
	height: auto;
	margin: 0 0 2.307rem 0;
	min-height: 0;
	position: relative;
}

#body .con-67 {
	margin-bottom: 2.307rem;
	min-height: 20px;
}

#body .con-68 {
	clear: both;
	height: auto;
	margin: 0 0 21px 0;
	min-height: 20px;
	position: relative;
}

#body .con-69 {
	background-color: #162024;
	min-height: 20px;
}

#body .con-70 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 42px;
	position: relative;
}

#body .con-71 {
	background-color: #121a1d;
	min-height: 20px;
}

#body .con-72 {
	background-color: #242e31;
	min-height: 20px;
}

#body .con-73 {
	background-attachment: scroll;
	background-repeat: no-repeat;
	min-height: 20px;
}

#body .con-74 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-75 {
	clear: both;
	height: auto;
	margin: 0 0 2.307rem 0;
	min-height: 20px;
	position: relative;
}

#body .con-76 {
	background-color: #f7f7f7;
	min-height: 20px;
}

#body .con-77 {
	clear: both;
	height: auto;
	min-height: 4px;
	padding: 0.769rem 0 0.769rem 0;
	position: relative;
}

#body .con-78 {
	clear: both;
	height: auto;
	margin: 0 0 2.307rem 0;
	min-height: 86px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-79 {
	background-color: #242e31;
	background-image: url('../templates/1/content-bg1.jpg');
	min-height: 20px;
}

#body .con-80 {
	clear: both;
	height: auto;
	margin: 0 0 3.076rem 0;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-81 {
	margin-bottom: 4.614rem;
	min-height: 20px;
}

#body .con-82 {
	margin-bottom: 2.307rem;
	min-height: 100px;
}

#body .con-83 {
	clear: both;
	height: auto;
	min-height: 17px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-84 {
	margin-bottom: 1.538rem;
	min-height: 100px;
}
.fs-13{
	font-size: 13px;
}
.text-blue{
	color: #00abeb;
}
.fa-arrow-right{
	font-weight: 100;
}
.border-bottom-gary{
	border-bottom: .3px solid #999;
}

#body .con-85 {
	clear: both;
	height: auto;
	min-height: 101px;
	padding: 0 0 0 0;
	position: relative;
}
#site-container-3460 {
    padding: 10.766rem 12% 7.5rem 12% !important;
}
#site-container-25345{
	background-image: url('../Images/client1.jpg') !important;
	background-size: auto !important;

}
#body .con-86 {
	/* background-image: url('../templates/1/content-bg2-1.jpg'); */
	background-image: url('../Images/client2.jpg');
	min-height: 20px;
	background-size: 400px;
}

#body .con-87 {
	clear: both;
	height: auto;
	margin: 2.7684rem 0 0 0;
	min-height: 4px;
	padding: 0.769rem 0 0.769rem 0;
	position: relative;
}

#body .con-88 {
	clear: both;
	height: auto;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-89 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 6px;
	position: relative;
}

#body .con-90 {
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('../templates/1/header-shadow.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 20px;
}

#body .con-91 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 19px;
	position: relative;
}

#body .con-92 {
	background-attachment: scroll;
	/* background-image: url('../templates/1/contact-bg.jpg'); */
	background-image: url('../Images/working-on-site.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 20px;
}

#body .con-93 {
	clear: both;
	height: auto;
	min-height: 12px;
	padding: 0.769rem 0 0.769rem 0;
	position: relative;
}

#body .con-94 {
	clear: both;
	height: auto;
	margin: 0 0 0.6152rem 0;
	min-height: 25px;
	position: relative;
}

#body .con-95 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-96 {
	clear: both;
	height: auto;
	margin: 0 0 2.307rem 0;
	min-height: 49px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-97 {
	clear: both;
	height: auto;
	min-height: 13px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-98 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-99 {
	clear: both;
	height: auto;
	margin: 0 0 15px 0;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-100 {
	border-color: rgba(43, 43, 43, 0.1);
	border-style: solid;
	border-width: 0 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 14px;
	padding: 0 0 1.538rem 0;
	position: relative;
}

#body .con-101 {
	clear: both;
	height: auto;
	margin: 3.076rem 0 0 0;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-102 {
	clear: both;
	height: auto;
	min-height: 124px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-103 {
	clear: both;
	height: auto;
	margin: 3.076rem 0 0 0;
	min-height: 100px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-104 {
	clear: both;
	height: auto;
	min-height: 200px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-105 {
	margin-bottom: 1.538rem;
	margin-top: 1.538rem;
	min-height: 20px;
}

#body .con-106 {
	clear: both;
	height: auto;
	margin: 3.076rem 0 0 0;
	min-height: 24px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-107 {
	clear: both;
	height: auto;
	min-height: 245px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-108 {
	background-color: #242e31;
	background-image: none;
	background-position: left bottom;
	background-repeat: no-repeat;
	min-height: 20px;
}

#site-container-6063>.background-container .dynamic-background {
	background-image: url('../templates/1/fb-bg-grafik.png');
	background-position: right bottom;
	background-size: cover;
}

#body .con-110 {
	clear: both;
	height: auto;
	margin: 0 0 0 0;
	min-height: 272px;
	position: relative;
}

#body .con-111 {
	clear: both;
	height: auto;
	min-height: 139px;
	padding: 0 0 0 0;
	position: relative;
}

#body .con-112 {
	clear: both;
	height: auto;
	margin: 0 0 2.307rem 0;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}

@media only screen and (min-width: 768px) {
	.text-md-dark{
		color:black !important;
	}
	#body #site-container-4 {
		margin-bottom: 8.152rem;
		margin-top: 0rem;
	}

	#body #site-container-9 {
		/* margin-bottom: 4.228rem; */
		margin-top: 3.766rem;
	}

	#body #site-container-10 {
		margin-bottom: 0;
	}

	#body #site-container-15 {
		margin-bottom: 0.769rem;
	}

	#body #site-container-17 {
		margin-bottom: 0;
		margin-top: 0.9228rem;
	}

	#body #site-container-21 {
		min-height: 300px;
		height: 650px;
	}

	#body #site-container-104 {
		margin-bottom: 0;
	}

	#body #site-container-115 {
		margin-bottom: 0;
	}

	#body #site-container-142 {
		margin-bottom: 3.076rem;
		margin-top: 3.076rem;
	}

	#body #site-container-143 {
		margin-bottom: 1.538rem;
	}

	#body #site-container-145 {
		margin-bottom: 0;
		margin-top: 0;
	}

	#body #site-container-146 {
		margin-bottom: 0;
		margin-top: 0;
	}

	#body #site-container-245 {
		margin-top: 3.076rem;
	}

	#body #site-container-246 {
		margin-bottom: 3.076rem;
	}

	#body #site-container-247 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-249 {
		margin-bottom: 0;
	}

	#body #site-container-254 {
		margin-bottom: 0;
		margin-top: 3.076rem;
	}

	#body #site-container-256 {
		margin-bottom: 0;
		margin-top: 3.076rem;
	}

	#body #site-container-264 {
		margin-top: 3.076rem;
	}

	#body #site-container-269 {
		margin-bottom: 1.538rem;
	}

	#body #site-container-270 {
		margin-bottom: 0;
	}

	#body #site-container-1342 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-1343 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-1815 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-2305 {
		margin-bottom: 6.152rem;
		margin-top: 0;
	}

	#body #site-container-2307 {
		margin-bottom: 3.076rem;
	}

	#body #site-container-2310 {
		margin-bottom: 2.307rem;
	}

	#body #site-container-2533 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-2678 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-2682 {
		margin-bottom: 0;
	}

	#body #site-container-2979 {
		margin-bottom: 3.076rem;
	}

	#body #site-container-2984 {
		margin-bottom: 4.614rem;
		margin-top: 4.614rem;
	}

	#body #site-container-4276 {
		margin-bottom: 6.152rem;
		margin-top: 6.152rem;
	}

	#body #site-container-4287 {
		margin-bottom: 1.538rem;
	}

	#body #site-container-6056 {
		margin-bottom: 0;
		margin-top: 30%;
	}

	#body #site-container-6059 {
		margin-bottom: 0;
		margin-top: 0;
	}
}

.fw-light {
	font-weight: 100 !important;
	font-family: system-ui;
	letter-spacing: 0.2em;
}

@media only screen and (min-width: 960px) {
	#body #site-container-4 {
		margin-bottom: 8rem;
		margin-top: 0.076rem;
	}

	#body #site-container-9 {
		/* margin-bottom: 5.766rem; */
		margin-top: 3.766rem;
	}

	#body #site-container-15 {
		margin-bottom: 0;
	}

	#body #site-container-17 {
		margin-bottom: 0.6152rem;
		margin-top: 0.6152rem;
	}

	#body #site-container-21 {
		height: 622px;
	}

	#body #site-container-104 {
		margin-bottom: 0;
	}

	#body #site-container-115 {
		margin-bottom: 0;
	}

	#body #site-container-142 {
		margin-bottom: 3.076rem;
		margin-top: 3.076rem;
	}

	#body #site-container-143 {
		margin-bottom: 0;
		margin-top: 0.2307rem;
	}

	#body #site-container-145 {
		margin-top: 0.2307rem;
	}

	#body #site-container-146 {
		margin-top: 0.4614rem;
	}

	#body #site-container-245 {
		margin-top: 3.845rem;
	}

	#body #site-container-246 {
		margin-bottom: 0;
	}

	#body #site-container-247 {
		margin-bottom: 9.228rem;
		margin-top: 9.228rem;
	}

	#body #site-container-249 {
		margin-bottom: 0;
	}

	#body #site-container-254 {
		margin-bottom: 0;
		margin-top: 3.845rem;
	}

	#body #site-container-256 {
		margin-bottom: 0;
		margin-top: 3.845rem;
	}

	#body #site-container-264 {
		margin-top: 0;
	}

	#body #site-container-269 {
		margin-bottom: 2.307rem;
	}

	#body #site-container-1342 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-1343 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-1346 {
		margin-bottom: 0;
		margin-top: 0;
	}

	#body #site-container-1815 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-2305 {
		margin-bottom: 7.69rem;
		margin-top: 0;
	}

	#body #site-container-2307 {
		margin-bottom: 0;
	}

	#body #site-container-2533 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-2678 {
		margin-bottom: 10.766rem;
		margin-top: 10.766rem;
	}

	#body #site-container-2682 {
		margin-bottom: 0;
	}

	#body #site-container-2979 {
		margin-bottom: 0.8459rem;
		margin-top: 0.8459rem;
	}

	#body #site-container-2984 {
		margin-bottom: 5.383rem;
		margin-top: 5.383rem;
	}

	#body #site-container-4276 {
		margin-bottom: 7.69rem;
		margin-top: 7.69rem;
	}

	#body #site-container-4287 {
		margin-bottom: 0;
	}

	#body #site-container-6056 {
		margin-top: 9.228rem;
	}

	#body #site-container-6059 {
		margin-top: 1.538rem;
	}
}